/* remove default browser spacing*/
* {
  margin: 0px;
  padding: 0px;
}

body{color: cornflowerblue;background-color: floralwhite;font-family:'Segoe UI';font-size: 18px;}
header{color: cornflowerblue;background-color: floralwhite;font-family: 'Segoe UI';font-size: 50px;}

/* the font-family 'JetBrains Mono', has been linked


 * and is available for your use
 
